# IMPORTING LIBRARY

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as  sns

# IMPORTING DATA

In [2]:
df=pd.read_csv(r"C:\Users\rohit\OneDrive\Desktop\RAJAT'S WORK\FRAUD DETECTION\normal user.csv")
df

,USERIDs,JoiningFeeCount,AppLaunchCount,DaysSpent,PayTmLink,FreeGamePlayedCount,FreeGamePlayedAmount,PaidGamePlayedCount,PaidGamePlayedAmount,FantasyGameCount,...,RummyGameCount,RummyGameAmount,CallBreakGameCount,CallBreakGameAmount,DepositCount,DepositAmount,RedeemCount,RedeemAmount,PaidGamePlayedWinRatio,PaidGamePlayedLossRatio
0,127679246,1,2,0,1,0,0,0,0,0,...,0,0,4,40,0,0,0,0,0.00,0.00
1,127679247,0,1086,199,1,0,0,5156,48794,22,...,5,5,15,80,5156,48794,5156,48794,28.37,71.63
2,127679248,0,40,132,0,0,0,4,4,1,...,2,2,58,441,4,4,4,4,25.00,75.00
3,127679249,1,1715,131,1,0,0,4727,12651,178,...,7841,20362,0,0,4727,12651,4727,12651,20.44,79.56
4,127679250,1,3,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206047,127889791,0,2,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.00,0.00
206048,127889792,0,5,29,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.00,0.00
206049,127889793,0,18,40,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.00,0.00
206050,127889794,1,2,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.00,0.00
206051,127889795,0,260,167,0,0,0,61,182,0,...,2,3,115,334,61,182,61,182,42.62,57.38

In [3]:
df1=pd.read_csv(r"C:\Users\rohit\OneDrive\Desktop\RAJAT'S WORK\FRAUD DETECTION\block user.csv")
df1

,USERIDs,JoiningFeeCount,JoiningFeeAmount,AppLaunchCount,DaysSpent,PayTmLink,FreeGameAllowed,FreeGamePlayed,PaidGamePlayedCount,PaidGamePlayedAmount,...,CallBreakGameCount,CallBreakGameAmount,DepositCount,DepositAmount,RedeemCount,RedeemAmount,PaidGamePlayedWinRatio,PaidGamePlayedLossRatio,CasualGameCount,CasualGameAmount
0,126147307,0,0,10,0,0,0,0.0,0,0.000000,...,0,0.0,0,0.0,0,0.0,0.00,0.00,0,0.0
1,126147330,0,0,26,9,0,0,0.0,0,0.000000,...,0,0.0,0,0.0,0,0.0,0.00,0.00,0,0.0
2,126147376,1,20,13,1,1,0,0.0,0,0.000000,...,4,14.0,0,0.0,0,0.0,0.00,0.00,5,8.0
3,126147381,0,0,135,34,1,0,0.0,0,0.000000,...,277,963.0,18,360.0,0,0.0,0.00,0.00,61,73.0
4,126147409,0,0,393,190,1,0,0.0,0,0.000000,...,43,160.0,20,16918.0,10,20010.0,0.00,0.00,70,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55613,129940610,0,0,7,0,0,5,0.0,49,181.720001,...,0,0.0,0,0.0,0,0.0,40.82,59.18,5,7.0
55614,129940728,0,0,0,0,0,0,0.0,0,0.000000,...,0,0.0,0,0.0,0,0.0,0.00,0.00,0,0.0
55615,129941036,0,0,3,0,1,0,0.0,0,0.000000,...,0,0.0,0,0.0,0,0.0,0.00,0.00,0,0.0
55616,129941486,0,0,0,0,0,0,0.0,0,0.000000,...,0,0.0,0,0.0,0,0.0,0.00,0.00,0,0.0
55617,129941495,0,0,0,0,0,0,0.0,0,0.000000,...,0,0.0,0,0.0,0,0.0,0.00,0.00,0,0.0

In [4]:
df.columns

Index(['USERIDs', 'JoiningFeeCount', 'AppLaunchCount', 'DaysSpent',
       'PayTmLink', 'FreeGamePlayedCount', 'FreeGamePlayedAmount',
       'PaidGamePlayedCount', 'PaidGamePlayedAmount', 'FantasyGameCount',
       'FantasyGameAmount', 'PokerGameCount', 'PokerGameAmount',
       'RummyGameCount', 'RummyGameAmount', 'CallBreakGameCount',
       'CallBreakGameAmount', 'DepositCount', 'DepositAmount', 'RedeemCount',
       'RedeemAmount', 'PaidGamePlayedWinRatio', 'PaidGamePlayedLossRatio'],
      dtype='object')

In [5]:
df1.columns

Index(['USERIDs', 'JoiningFeeCount', 'JoiningFeeAmount', 'AppLaunchCount',
       'DaysSpent', 'PayTmLink', 'FreeGameAllowed', 'FreeGamePlayed',
       'PaidGamePlayedCount', 'PaidGamePlayedAmount', 'FantasyGameCount',
       'FantasyGameAmount', 'PokerGameCount', 'PokerGameAmount',
       'RummyGameCount', 'RummyGameAmount', 'CallBreakGameCount',
       'CallBreakGameAmount', 'DepositCount', 'DepositAmount', 'RedeemCount',
       'RedeemAmount', 'PaidGamePlayedWinRatio', 'PaidGamePlayedLossRatio',
       'CasualGameCount', 'CasualGameAmount'],
      dtype='object')

# DISCRIPTION OF NORMAL USER'S DATA

In [6]:
df.describe()

,USERIDs,JoiningFeeCount,AppLaunchCount,DaysSpent,PayTmLink,FreeGamePlayedCount,FreeGamePlayedAmount,PaidGamePlayedCount,PaidGamePlayedAmount,FantasyGameCount,...,RummyGameCount,RummyGameAmount,CallBreakGameCount,CallBreakGameAmount,DepositCount,DepositAmount,RedeemCount,RedeemAmount,PaidGamePlayedWinRatio,PaidGamePlayedLossRatio
count,2.060520e+05,206052.000000,206052.000000,206052.000000,206052.000000,206052.0,206052.0,206052.000000,2.060520e+05,206052.000000,...,206052.000000,2.060520e+05,206052.000000,206052.000000,206052.000000,2.060520e+05,206052.000000,2.060520e+05,206052.000000,206052.000000
mean,1.277844e+08,0.334362,40.051570,32.587206,0.750146,0.0,0.0,60.963519,1.117378e+03,0.521247,...,37.815226,3.986086e+02,9.870101,172.969911,60.963519,1.117378e+03,60.963519,1.117378e+03,4.541781,10.999933
std,6.077933e+04,0.471768,122.928009,57.680883,0.432930,0.0,0.0,520.563402,2.183042e+04,21.403825,...,367.007411,9.099649e+03,90.979473,3657.024184,520.563402,2.183042e+04,520.563402,2.183042e+04,12.967023,26.713124
min,1.276792e+08,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
25%,1.277318e+08,0.000000,2.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
50%,1.277844e+08,0.000000,4.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
75%,1.278370e+08,1.000000,17.000000,35.000000,1.000000,0.0,0.0,0.000000,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
max,1.278898e+08,1.000000,6156.000000,200.000000,1.000000,0.0,0.0,48846.000000,3.751525e+06,8588.000000,...,26918.000000,1.036607e+06,9667.000000,647125.000000,48846.000000,3.751525e+06,48846.000000,3.751525e+06,100.000000,100.000000

# DISCRIPTION OF BLOCK USER'S DATA

In [7]:
df1.describe()

,USERIDs,JoiningFeeCount,JoiningFeeAmount,AppLaunchCount,DaysSpent,PayTmLink,FreeGameAllowed,FreeGamePlayed,PaidGamePlayedCount,PaidGamePlayedAmount,...,CallBreakGameCount,CallBreakGameAmount,DepositCount,DepositAmount,RedeemCount,RedeemAmount,PaidGamePlayedWinRatio,PaidGamePlayedLossRatio,CasualGameCount,CasualGameAmount
count,5.561800e+04,55618.000000,55618.000000,55618.000000,55618.000000,55618.000000,55618.000000,55618.000000,55618.000000,5.561800e+04,...,55618.000000,5.561800e+04,55618.000000,5.561800e+04,55618.000000,55618.000000,55618.000000,55618.000000,55618.000000,55618.000000
mean,1.275408e+08,0.139991,6.192600,71.123737,24.728451,0.425995,0.149052,0.034845,91.973552,2.471894e+03,...,10.110845,3.875899e+02,4.410011,1.181633e+03,1.188752,1459.655327,5.659941,13.058827,23.808677,151.503938
std,1.043436e+06,1.260817,32.272012,205.182032,52.152489,0.494497,1.210635,0.513312,562.355068,4.691974e+04,...,73.818008,1.025936e+04,23.605892,1.184375e+04,5.180599,12059.654050,14.953424,28.722926,91.783133,2608.980349
min,1.261473e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.266341e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.272853e+08,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.284163e+08,0.000000,0.000000,46.000000,21.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000e+00,1.000000,2.000000e+01,0.000000,0.000000,0.000000,0.000000,20.000000,29.000000
max,1.299415e+08,286.000000,6620.000000,10375.000000,355.000000,1.000000,10.000000,11.000000,22793.000000,9.003407e+06,...,3909.000000,1.014271e+06,1052.000000,1.731569e+06,153.000000,723110.000000,100.000000,100.000000,5415.000000,505973.000000

In [8]:
'''
THIS FUNCTION IS USED FOR REMOVE ALL THE DATA WHICH CONSIST OF 0'S VALUES IN DAYS SPENT, DEPOSITE COUNT, 
DEPOSITE AMOUNT AND REDEEM COUNT.
'''
def preprocessing(df):
    df=df[df.DaysSpent>0]
    df = df[df.DepositCount>0]
    df = df[df.DepositAmount>0]
    df = df[df.RedeemCount>0]
    return df

# BLOCKED DATA

In [9]:
def meanof5to50days(df):
    days=[5,10,15,20,25,30,35,40,45,50]
    list1=[]
    list2=[]
    list3=[]
    list4=[]
    list5=[]
    dict={0:5,6:10,11:15,16:20,21:25,26:30,31:35,36:40,41:45,46:50}
    for i,val in dict.items():
        temp=df[(df.DaysSpent>=i) & (df.DaysSpent<=val)]
        val1=temp.DepositCount.mean()
        list1.append(val1)
        val2=temp.DepositAmount.mean()
        list2.append(val2)
        val3=temp.RedeemCount.mean()
        list3.append(val3)
        val4=temp.RedeemAmount.mean()
        list4.append(val4)
        val5=temp.PaidGamePlayedWinRatio.mean()
        list5.append(val5)
        temp=df
    data1=pd.DataFrame(list(zip(list1,list2,list3,list4,list5)),columns=["DepositCount","DepositAmount","RedeemCount","RedeemAmount","winratio"],index=days)
    return data1
block_data=meanof5to50days(df1)
block_data

    DepositCount  DepositAmount  RedeemCount  RedeemAmount   winratio
5       0.273906      37.264078     0.103178     59.181016   2.515074
10      2.175025     412.282347     0.719659    687.151454   7.407242
15      3.551060     641.340398     0.940270    780.513809   9.016153
20      3.638699    1049.282534     1.228596   1296.207192   7.920856
25      5.348678    1062.531832     1.408423   1493.369246   7.556905
30      5.959267    1249.703666     1.905295   1862.739308   8.029033
35      6.313023    1744.617682     1.808841   2350.812425  10.025962
40      7.668848    1699.734293     2.083770   2229.018325   8.301401
45      8.903727    2306.423913     2.332298   2915.015528   8.513509
50      9.358752    2568.755633     2.462738   3162.946274  10.109584

# BLOCKED DATA WITH PREPROCESSING

In [10]:
temp=preprocessing(df1)
preprocess_block_data=meanof5to50days(temp)
preprocess_block_data

    DepositCount  DepositAmount  RedeemCount  RedeemAmount   winratio
5       3.624359     873.665385     1.971795   1871.782051  14.232949
10      7.050926    1688.643519     3.090278   3132.384259  10.233796
15     11.272727    2219.173554     3.760331   3315.812672  15.426749
20     10.823718    3395.423077     4.227564   4799.166667  12.312628
25     16.032258    3472.953405     4.935484   5430.537634   8.195699
30     16.899666    3945.515050     5.923077   6048.662207  11.453478
35     15.786477    4682.629893     5.195730   6959.039146  15.041851
40     19.788235    4790.870588     5.945098   6613.843137  10.526784
45     21.806867    6129.587983     6.081545   7999.270386   9.690043
50     22.976415    6550.056604     6.405660   8558.443396  13.609623

# UNBLOCK DATA

In [11]:
def meanof5to50days(df):
    days=[5,10,15,20,25,30,35,40,45,50]
    list1=[]
    list2=[]
    list3=[]
    list4=[]
    list5=[]
    dict={0:5,6:10,11:15,16:20,21:25,26:30,31:35,36:40,41:45,46:50}
    for i,val in dict.items():
        temp=df[(df.DaysSpent>=i) & (df.DaysSpent<=val)]
        val1=temp.DepositCount.mean()
        list1.append(val1)
        val2=temp.DepositAmount.mean()
        list2.append(val2)
        val3=temp.RedeemCount.mean()
        list3.append(val3)
        val4=temp.RedeemAmount.mean()
        list4.append(val4)
        val5=temp.PaidGamePlayedWinRatio.mean()
        list5.append(val5)
        temp=df
    data1=pd.DataFrame(list(zip(list1,list2,list3,list4,list5)),columns=["DepositCount","DepositAmount","RedeemCount","RedeemAmount","winratio"],index=days)
    return data1
unblock_data=meanof5to50days(df)
unblock_data

    DepositCount  DepositAmount  RedeemCount  RedeemAmount  winratio
5       0.002427       0.002427     0.002427      0.002427  0.190665
10      0.008410       0.008410     0.008410      0.008410  0.656682
15      0.008579       0.008579     0.008579      0.008579  0.596792
20      0.009118       0.009118     0.009118      0.009118  0.714638
25      0.008630       0.008630     0.008630      0.008630  0.501114
30      0.010562       0.010562     0.010562      0.010562  0.807704
35      0.010309       0.010309     0.010309      0.010309  0.746534
40      0.006916       0.006916     0.006916      0.006916  0.528885
45      0.539562       5.822083     0.539562      5.822083  1.942012
50      3.827551      56.705612     3.827551     56.705612  4.883985

# UNBLOCKED DATA WITH PREPROCESS

In [12]:
temp=preprocessing(df)
preprocess_unblock_data=meanof5to50days(temp)
preprocess_unblock_data

    DepositCount  DepositAmount  RedeemCount  RedeemAmount    winratio
5       1.282051       1.282051     1.282051      1.282051  100.000000
10      1.280702       1.280702     1.280702      1.280702  100.000000
15      1.437500       1.437500     1.437500      1.437500  100.000000
20      1.275862       1.275862     1.275862      1.275862  100.000000
25      1.722222       1.722222     1.722222      1.722222  100.000000
30      1.307692       1.307692     1.307692      1.307692  100.000000
35      1.380952       1.380952     1.380952      1.380952  100.000000
40      1.307692       1.307692     1.307692      1.307692  100.000000
45      9.284615     100.184615     9.284615    100.184615   33.417538
50     21.005602     311.324930    21.005602    311.324930   26.814034

In [13]:
'''
THIS FUNCTION RETURNS A DATA FRAME WHICH SHOWS HOW MANY TIMES A MEAN OF BLOCK USER'S DATA IS GREATER THAN THE MEAN
OF NORMAL USER'S DATA.
'''
def meanofdata(df,df1,start,end,interval):
    days=[]
    for i in range(start,end+interval,interval):
        days.append(i)
    DAYS=[]
    for i in range(len(days)-1):
        DAYS.append("{} - {}".format(days[i],days[i+1]))

#   UNBLOCK USER
    list1,list2,list3,list4,list5=[],[],[],[],[]
    for i in range(len(days)-1):
        temp=df[(df.DaysSpent>=days[i]+1) & (df.DaysSpent<=days[i+1])]
        val1=temp.DepositCount.mean()
        list1.append(val1)
        val2=temp.DepositAmount.mean()
        list2.append(val2)
        val3=temp.RedeemCount.mean()
        list3.append(val3)
        val4=temp.RedeemAmount.mean()
        list4.append(val4)
        val5=temp.PaidGamePlayedWinRatio.mean()
        list5.append(val5)
        temp=df
    dataframe1=pd.DataFrame(list(zip(DAYS,list1,list2,list3,list4,list5)),columns=["Days","meanofDepositCount","meanofDepositAmount","meanofRedeemCount","meanofRedeemAmount","meanofwinratio"])

#   BLOCK USER
    list1,list2,list3,list4,list5=[],[],[],[],[]
    for i in range(len(days)-1):
        temp=df1[(df1.DaysSpent>=days[i]+1) & (df1.DaysSpent<=days[i+1])]
        val1=temp.DepositCount.mean()
        list1.append(val1)
        val2=temp.DepositAmount.mean()
        list2.append(val2)
        val3=temp.RedeemCount.mean()
        list3.append(val3)
        val4=temp.RedeemAmount.mean()
        list4.append(val4)
        val5=temp.PaidGamePlayedWinRatio.mean()
        list5.append(val5)
        temp=df
    dataframe2=pd.DataFrame(list(zip(DAYS,list1,list2,list3,list4,list5)),columns=["Days","meanofDepositCount","meanofDepositAmount","meanofRedeemCount","meanofRedeemAmount","meanofwinratio"])

#   COMPARISION BETWEEN BLOCK AND UNBLOCKED DATA
    list1=dataframe2.meanofDepositCount/dataframe1.meanofDepositCount
    list2=dataframe2.meanofDepositAmount/dataframe1.meanofDepositAmount
    list3=dataframe2.meanofRedeemCount/dataframe1.meanofRedeemCount
    list4=dataframe2.meanofRedeemAmount/dataframe1.meanofRedeemAmount
    list5=dataframe2.meanofwinratio/dataframe1.meanofwinratio
    finaldf=pd.DataFrame(list(zip(DAYS,list1,list2,list3,list4,list5)),columns=["days","DepositCount","DepositAmount","RedeemCount","RedeemAmount","winratio"])
    return finaldf

# THIS DATA SHOWS HOW MANY TIMES A MEAN OF BLOCK USER'S DATA IS GREATER THAN THE MEAN OF NORMAL USER

In [14]:
temp=preprocessing(df)
temp1=preprocessing(df1)
start=0
end=50
interval=5
q2=meanofdata(temp,temp1,start,end,interval)
q2

      days  DepositCount  DepositAmount  RedeemCount  RedeemAmount  winratio
0    0 - 5      2.827000     681.459000     1.538000   1459.990000  0.142329
1   5 - 10      5.505518    1318.529871     2.412957   2445.834285  0.102338
2  10 - 15      7.841897    1543.772907     2.615882   2306.652294  0.154267
3  15 - 20      8.483455    2661.277547     3.313496   3761.509009  0.123126
4  20 - 25      9.309053    2016.553590     2.865765   3153.215401  0.081957
5  25 - 30     12.923274    3017.158568     4.529412   4625.447570  0.114535
6  30 - 35     11.431587    3390.869923     3.762425   5039.304209  0.150419
7  35 - 40     15.132180    3663.606920     4.546251   5057.644752  0.105268
8  40 - 45      2.348710      61.182927     0.655013     79.845297  0.289969
9  45 - 50      1.093823      21.039294     0.304950     27.490389  0.507556

# DATA WITHOUT USING PREPROCESSING FUNCTION

In [16]:
start=0
end=50
interval=5
q1=meanofdata(df,df1,start,end,interval)
q1

      days  DepositCount  DepositAmount  RedeemCount   RedeemAmount   winratio
0    0 - 5    177.495815   41914.936468    68.197752   56865.647357  14.549077
1   5 - 10    258.619420   49022.065374    85.570410   81705.131834  11.279800
2  10 - 15    413.930049   74757.982938   109.602748   90980.761777  15.107691
3  15 - 20    399.076731  115080.770918   134.747084  142162.399574  11.083736
4  20 - 25    619.756469  123116.591577   163.195349  173038.139711  15.080224
5  25 - 30    564.202348  118317.532377   180.386636  176357.583263   9.940560
6  30 - 35    612.363202  169227.915173   175.457587  228028.805257  13.430015
7  35 - 40   1108.825223  245761.581922   301.288574  322289.825993  15.696033
8  40 - 45     16.501770     396.150975     4.322577     500.682566   4.383861
9  45 - 50      2.445102      45.299848     0.643424      55.778364   2.069946