In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\rohit\OneDrive\Desktop\RAJAT'S WORK\FRAUD DETECTION\data.csv")
df1=pd.read_csv(r"C:\Users\rohit\OneDrive\Desktop\RAJAT'S WORK\FRAUD DETECTION\block.csv")

In [3]:
df.shape

(206052, 23)

In [4]:
df1.shape

(55618, 26)

In [5]:
blocked_sample=df1
unblocked_sample=df.sample(n=55618)

In [6]:
print("the shape of blocked data is ",blocked_sample.shape)
print("the shape of unblocked data is ",unblocked_sample.shape)

the shape of blocked data is  (55618, 26)
the shape of unblocked data is  (55618, 23)

In [7]:
unblocked_sample.columns

Index(['USERIDs', 'JoiningFeeCount', 'AppLaunchCount', 'DaysSpent',
       'PayTmLink', 'FreeGamePlayedCount', 'FreeGamePlayedAmount',
       'PaidGamePlayedCount', 'PaidGamePlayedAmount', 'FantasyGameCount',
       'FantasyGameAmount', 'PokerGameCount', 'PokerGameAmount',
       'RummyGameCount', 'RummyGameAmount', 'CallBreakGameCount',
       'CallBreakGameAmount', 'DepositCount', 'DepositAmount', 'RedeemCount',
       'RedeemAmount', 'PaidGamePlayedWinRatio', 'PaidGamePlayedLossRatio'],
      dtype='object')

In [8]:
blocked_sample.columns

Index(['USERIDs', 'JoiningFeeCount', 'JoiningFeeAmount', 'AppLaunchCount',
       'DaysSpent', 'PayTmLink', 'FreeGameAllowed', 'FreeGamePlayed',
       'PaidGamePlayedCount', 'PaidGamePlayedAmount', 'FantasyGameCount',
       'FantasyGameAmount', 'PokerGameCount', 'PokerGameAmount',
       'RummyGameCount', 'RummyGameAmount', 'CallBreakGameCount',
       'CallBreakGameAmount', 'DepositCount', 'DepositAmount', 'RedeemCount',
       'RedeemAmount', 'PaidGamePlayedWinRatio', 'PaidGamePlayedLossRatio',
       'CasualGameCount', 'CasualGameAmount'],
      dtype='object')

In [9]:
blocked_sample.drop(['CasualGameCount', 'CasualGameAmount','JoiningFeeAmount'],axis=1,inplace=True)

In [10]:
print("the shape of blocked data is ",blocked_sample.shape)
print("the shape of unblocked data is ",unblocked_sample.shape)

the shape of blocked data is  (55618, 23)
the shape of unblocked data is  (55618, 23)

In [11]:
unblocked_sample.columns

Index(['USERIDs', 'JoiningFeeCount', 'AppLaunchCount', 'DaysSpent',
       'PayTmLink', 'FreeGamePlayedCount', 'FreeGamePlayedAmount',
       'PaidGamePlayedCount', 'PaidGamePlayedAmount', 'FantasyGameCount',
       'FantasyGameAmount', 'PokerGameCount', 'PokerGameAmount',
       'RummyGameCount', 'RummyGameAmount', 'CallBreakGameCount',
       'CallBreakGameAmount', 'DepositCount', 'DepositAmount', 'RedeemCount',
       'RedeemAmount', 'PaidGamePlayedWinRatio', 'PaidGamePlayedLossRatio'],
      dtype='object')

In [12]:
blocked_sample.columns

Index(['USERIDs', 'JoiningFeeCount', 'AppLaunchCount', 'DaysSpent',
       'PayTmLink', 'FreeGameAllowed', 'FreeGamePlayed', 'PaidGamePlayedCount',
       'PaidGamePlayedAmount', 'FantasyGameCount', 'FantasyGameAmount',
       'PokerGameCount', 'PokerGameAmount', 'RummyGameCount',
       'RummyGameAmount', 'CallBreakGameCount', 'CallBreakGameAmount',
       'DepositCount', 'DepositAmount', 'RedeemCount', 'RedeemAmount',
       'PaidGamePlayedWinRatio', 'PaidGamePlayedLossRatio'],
      dtype='object')

In [13]:
unblocked_sample.drop(['FreeGamePlayedCount','FreeGamePlayedAmount'],axis=1,inplace=True)

In [14]:
blocked_sample.drop(['FreeGameAllowed', 'FreeGamePlayed'],axis=1,inplace=True)

In [15]:
print("the shape of blocked data is ",blocked_sample.shape)
print("the shape of unblocked data is ",unblocked_sample.shape)

the shape of blocked data is  (55618, 21)
the shape of unblocked data is  (55618, 21)

In [16]:
unblocked_sample['Result'] = pd.Series([0 for x in range(len(unblocked_sample.index))])
blocked_sample['Result'] = pd.Series([1 for x in range(len(blocked_sample.index))])

In [17]:
unblocked_sample

,USERIDs,JoiningFeeCount,AppLaunchCount,DaysSpent,PayTmLink,PaidGamePlayedCount,PaidGamePlayedAmount,FantasyGameCount,FantasyGameAmount,PokerGameCount,...,RummyGameAmount,CallBreakGameCount,CallBreakGameAmount,DepositCount,DepositAmount,RedeemCount,RedeemAmount,PaidGamePlayedWinRatio,PaidGamePlayedLossRatio,Result
192931,127876425,0,2,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
176210,127859233,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
78409,127759302,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
9739,127689178,1,5,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
123306,127805128,0,6,36,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71743,127752482,1,4,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
3718,127683036,0,23,43,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
204565,127888280,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
152534,127834980,0,135,42,1,0,0,0,0,29,...,0,76,297,0,0,0,0,0.0,0.0,NaN
119652,127801393,0,29,9,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN

In [21]:
unblocked_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55618 entries, 192931 to 119652
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   USERIDs                  55618 non-null  int64
 1   JoiningFeeCount          55618 non-null  int64
 2   AppLaunchCount           55618 non-null  int64
 3   DaysSpent                55618 non-null  int64
 4   PayTmLink                55618 non-null  int64
 5   PaidGamePlayedCount      55618 non-null  int64
 6   PaidGamePlayedAmount     55618 non-null  int64
 7   FantasyGameCount         55618 non-null  int64
 8   FantasyGameAmount        55618 non-null  int64
 9   PokerGameCount           55618 non-null  int64
 10  PokerGameAmount          55618 non-null  int64
 11  RummyGameCount           55618 non-null  int64
 12  RummyGameAmount          55618 non-null  int64
 13  CallBreakGameCount       55618 non-null  int64
 14  CallBreakGameAmount      55618 non-null  int64
 15  DepositCount             55618 non-null  int64
 16  DepositAmount            55618 non-null  int64
 17  RedeemCount              55618 non-null  int64
 18  RedeemAmount             55618 non-null  int64
 19  PaidGamePlayedWinRatio   55618 non-null  float64
 20  PaidGamePlayedLossRatio  55618 non-null  float64
 21  Result                   14975 non-null  float64
dtypes: float64(3), int64(19)
memory usage: 9.8 MB

In [24]:
unblocked_sample['Result'].fillna(0, inplace=True)
unblocked_sample['Result'] = unblocked_sample['Result'].astype('int')

In [25]:
blocked_sample['Result'].fillna(1, inplace=True)
blocked_sample['Result'] = blocked_sample['Result'].astype('int')

In [26]:
unblocked_sample['Result'].value_counts_counts()

0    55618
Name: Result, dtype: int64

In [28]:
blocked_sample['Result'].value_counts()

1    55618
Name: Result, dtype: int64

In [35]:
FinalDataframe=unblocked_sample.append(blocked_sample)

C:\Users\rohit\AppData\Local\Temp\ipykernel_10780\1931908960.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  FinalDataframe=unblocked_sample.append(blocked_sample)

In [39]:
FinalDataframe.to_csv('newdata.csv')