# IMPORTING LIBRARY

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.utils import shuffle

# IMPORTING DATA

In [2]:
data=pd.read_csv(r"C:\Users\rohit\OneDrive\Desktop\RAJAT'S WORK\FRAUD DETECTION\newdata.csv")
data=shuffle(data)
data

,Unnamed: 0,USERIDs,JoiningFeeCount,AppLaunchCount,DaysSpent,PayTmLink,PaidGamePlayedCount,PaidGamePlayedAmount,FantasyGameCount,FantasyGameAmount,...,RummyGameAmount,CallBreakGameCount,CallBreakGameAmount,DepositCount,DepositAmount,RedeemCount,RedeemAmount,PaidGamePlayedWinRatio,PaidGamePlayedLossRatio,Result
8676,168405,127851164,1,3,0,1,0,0.0,0,0.0,...,0.00,0,0.0,0,0.0,0,0.0,0.0,0.0,0
95802,40184,128287776,0,0,0,0,0,0.0,0,0.0,...,0.00,0,0.0,0,0.0,0,0.0,0.0,0.0,1
79069,23451,127051841,0,9,26,0,0,0.0,0,0.0,...,0.00,0,0.0,0,0.0,0,0.0,0.0,0.0,1
61580,5962,126337801,1,987,174,1,0,0.0,0,0.0,...,61.24,360,3707.5,193,15284.0,12,10200.0,0.0,0.0,1
74978,19360,126864782,0,91,74,0,0,0.0,0,0.0,...,0.00,0,0.0,0,0.0,0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110907,55289,129876031,0,0,0,0,0,0.0,0,0.0,...,0.00,0,0.0,0,0.0,0,0.0,0.0,0.0,1
21310,126914,127808818,0,1,0,0,0,0.0,0,0.0,...,0.00,0,0.0,0,0.0,0,0.0,0.0,0.0,0
49372,21656,127701346,0,1,0,0,0,0.0,0,0.0,...,0.00,0,0.0,0,0.0,0,0.0,0.0,0.0,0
1480,157954,127840505,0,1,0,1,0,0.0,0,0.0,...,0.00,0,0.0,0,0.0,0,0.0,0.0,0.0,0
40704,50268,127730504,1,2,0,1,0,0.0,0,0.0,...,0.00,0,0.0,0,0.0,0,0.0,0.0,0.0,0

# DESCRIPTIVE STATISTICS

In [3]:
data.shape

(111236, 23)

In [4]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
data.shape

(111236, 22)

In [6]:
pd.set_option('display.max_column',None)
data.head(2)

,USERIDs,JoiningFeeCount,AppLaunchCount,DaysSpent,PayTmLink,PaidGamePlayedCount,PaidGamePlayedAmount,FantasyGameCount,FantasyGameAmount,PokerGameCount,PokerGameAmount,RummyGameCount,RummyGameAmount,CallBreakGameCount,CallBreakGameAmount,DepositCount,DepositAmount,RedeemCount,RedeemAmount,PaidGamePlayedWinRatio,PaidGamePlayedLossRatio,Result
8676,127851164,1,3,0,1,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,0
95802,128287776,0,0,0,0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,1

In [7]:
for i in data.columns:
    print("###########################################################################")
    print(i)
    print("###########################################################################")    
    print()
    print(data[i].value_counts())
    print()

###########################################################################
USERIDs
###########################################################################

127834479    2
127851164    1
127741704    1
126170501    1
129387709    1
            ..
127806418    1
127319286    1
128189295    1
127833126    1
127730504    1
Name: USERIDs, Length: 111235, dtype: int64

###########################################################################
JoiningFeeCount
###########################################################################

0      85066
1      26165
10         1
2          1
286        1
9          1
7          1
Name: JoiningFeeCount, dtype: int64

###########################################################################
AppLaunchCount
###########################################################################

1       19723
0       19147
2       11205
3        6717
4        4562
        ...
2853        1
1485        1
1921        1
1512        1
1190        1
Name: AppLaunchCount, Length: 1412, dtype: int64

###########################################################################
DaysSpent
###########################################################################

0      61062
1       3578
2       2245
3       1759
4       1389
       ...
327        1
349        1
346        1
338        1
320        1
Name: DaysSpent, Length: 344, dtype: int64

###########################################################################
PayTmLink
###########################################################################

1    65510
0    45726
Name: PayTmLink, dtype: int64

###########################################################################
PaidGamePlayedCount
###########################################################################

0       92101
1        1344
2         668
5         599
3         474
        ...
3790        1
1440        1
2495        1
8728        1
1476        1
Name: PaidGamePlayedCount, Length: 2488, dtype: int64

###########################################################################
PaidGamePlayedAmount
###########################################################################

0.000000         92117
20.000000          525
1.000000           304
75.000000          258
3.000000           237
                 ...
1280.000000          1
114.750000           1
139656.000000        1
482.769988           1
5637.919996          1
Name: PaidGamePlayedAmount, Length: 10860, dtype: int64

###########################################################################
FantasyGameCount
###########################################################################

0      106800
1        1651
2         681
3         372
4         247
        ...
313         1
410         1
256         1
163         1
218         1
Name: FantasyGameCount, Length: 182, dtype: int64

###########################################################################
FantasyGameAmount
###########################################################################

0.0       106800
1.0          579
2.0          289
10.0         283
21.0         211
           ...
1452.0         1
136.0          1
832.0          1
643.0          1
1008.0         1
Name: FantasyGameAmount, Length: 625, dtype: int64

###########################################################################
PokerGameCount
###########################################################################

0       81169
1        4550
2        2175
3        1443
4        1101
        ...
1176        1
1383        1
491         1
1725        1
1169        1
Name: PokerGameCount, Length: 1100, dtype: int64

###########################################################################
PokerGameAmount
###########################################################################

0.000000      82474
1.000000        775
2.000000        679
50.000000       534
3.000000        296
              ...
83.750001         1
260.420001        1
408.060005        1
57.600000         1
526.060006        1
Name: PokerGameAmount, Length: 19132, dtype: int64

###########################################################################
RummyGameCount
###########################################################################

0       88116
1        3396
2        1683
3        1037
4         744
        ...
4877        1
2971        1
1359        1
5974        1
1161        1
Name: RummyGameCount, Length: 2229, dtype: int64

###########################################################################
RummyGameAmount
###########################################################################

0.000000       88275
2.000000        1590
4.000000         667
1.000000         585
8.000000         500
               ...
9916.319998        1
847.000000         1
71.870000          1
0.300000           1
358.660000         1
Name: RummyGameAmount, Length: 11984, dtype: int64

###########################################################################
CallBreakGameCount
###########################################################################

0       86892
1        3615
2        2084
3        1632
4        1249
        ...
1084        1
472         1
766         1
1321        1
2319        1
Name: CallBreakGameCount, Length: 751, dtype: int64

###########################################################################
CallBreakGameAmount
###########################################################################

0.0        86892
3.0         2091
6.0          827
5.0          674
10.0         632
           ...
4383.5         1
5302.0         1
10351.0        1
4787.0         1
11646.0        1
Name: CallBreakGameAmount, Length: 2963, dtype: int64

###########################################################################
DepositCount
###########################################################################

0       85500
1        7969
2        1984
3        1294
4         935
        ...
870         1
1693        1
1624        1
7943        1
1476        1
Name: DepositCount, Length: 1510, dtype: int64

###########################################################################
DepositAmount
###########################################################################

0.0        85528
20.0        3892
1.0         1524
100.0        492
50.0         439
           ...
4523.0         1
5748.0         1
2257.0         1
15998.0        1
5192.0         1
Name: DepositAmount, Length: 5906, dtype: int64

###########################################################################
RedeemCount
###########################################################################

0       92141
1        4478
2        1858
3        1170
4         880
        ...
1506        1
6435        1
136         1
2925        1
1476        1
Name: RedeemCount, Length: 1506, dtype: int64

###########################################################################
RedeemAmount
###########################################################################

0.0         92169
200.0        1788
100.0         663
500.0         638
1000.0        552
            ...
6821.0          1
126076.0        1
39400.0         1
1503.0          1
112293.0        1
Name: RedeemAmount, Length: 4060, dtype: int64

###########################################################################
PaidGamePlayedWinRatio
###########################################################################

0.00      94578
100.00      614
33.33       493
25.00       434
50.00       389
          ...
20.88         1
50.28         1
48.70         1
44.92         1
59.30         1
Name: PaidGamePlayedWinRatio, Length: 3020, dtype: int64

###########################################################################
PaidGamePlayedLossRatio
###########################################################################

0.00      92715
100.00     2477
66.67       493
75.00       434
50.00       389
          ...
80.64         1
61.80         1
60.89         1
38.39         1
40.70         1
Name: PaidGamePlayedLossRatio, Length: 3018, dtype: int64

###########################################################################
Result
###########################################################################

0    55618
1    55618
Name: Result, dtype: int64

In [8]:
data.describe()

,USERIDs,JoiningFeeCount,AppLaunchCount,DaysSpent,PayTmLink,PaidGamePlayedCount,PaidGamePlayedAmount,FantasyGameCount,FantasyGameAmount,PokerGameCount,PokerGameAmount,RummyGameCount,RummyGameAmount,CallBreakGameCount,CallBreakGameAmount,DepositCount,DepositAmount,RedeemCount,RedeemAmount,PaidGamePlayedWinRatio,PaidGamePlayedLossRatio,Result
count,1.112360e+05,111236.000000,111236.000000,111236.000000,111236.000000,111236.000000,1.112360e+05,111236.000000,111236.000000,111236.000000,1.112360e+05,111236.000000,1.112360e+05,111236.000000,1.112360e+05,111236.000000,1.112360e+05,111236.000000,1.112360e+05,111236.000000,111236.000000,111236.000000
mean,1.276627e+08,0.238043,55.719210,28.755709,0.588928,75.993087,1.848657e+03,0.528300,8.665144,21.820831,1.687617e+03,63.992341,1.547224e+03,10.172840,2.967022e+02,32.211316,1.203527e+03,30.600687,1.342538e+03,5.130279,12.071893,0.500000
std,7.490596e+05,0.957082,170.208901,55.307777,0.492030,538.065403,3.721497e+04,10.809284,309.138431,125.645716,2.342905e+04,519.725629,2.061735e+04,85.698977,8.045346e+03,363.579904,1.881441e+04,363.341849,1.888321e+04,14.026970,27.776100,0.500002
min,1.261473e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1.272853e+08,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000
50%,1.277606e+08,0.000000,3.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.500000
75%,1.278609e+08,0.000000,27.000000,27.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,1.000000,1.605000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,1.000000
max,1.299415e+08,286.000000,10375.000000,355.000000,1.000000,31025.000000,9.003407e+06,1348.000000,60381.000000,9503.000000,4.827113e+06,26918.000000,1.733237e+06,8891.000000,1.014271e+06,31025.000000,2.545830e+06,31025.000000,2.545830e+06,100.000000,100.000000,1.000000

In [9]:
data.drop('USERIDs',inplace=True,axis=1)

In [10]:
data.shape

(111236, 21)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111236 entries, 8676 to 40704
Data columns (total 21 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   JoiningFeeCount          111236 non-null  int64
 1   AppLaunchCount           111236 non-null  int64
 2   DaysSpent                111236 non-null  int64
 3   PayTmLink                111236 non-null  int64
 4   PaidGamePlayedCount      111236 non-null  int64
 5   PaidGamePlayedAmount     111236 non-null  float64
 6   FantasyGameCount         111236 non-null  int64
 7   FantasyGameAmount        111236 non-null  float64
 8   PokerGameCount           111236 non-null  int64
 9   PokerGameAmount          111236 non-null  float64
 10  RummyGameCount           111236 non-null  int64
 11  RummyGameAmount          111236 non-null  float64
 12  CallBreakGameCount       111236 non-null  int64
 13  CallBreakGameAmount      111236 non-null  float64
 14  DepositCount             111236 non-null  int64
 15  DepositAmount            111236 non-null  float64
 16  RedeemCount              111236 non-null  int64
 17  RedeemAmount             111236 non-null  float64
 18  PaidGamePlayedWinRatio   111236 non-null  float64
 19  PaidGamePlayedLossRatio  111236 non-null  float64
 20  Result                   111236 non-null  int64
dtypes: float64(9), int64(12)
memory usage: 18.7 MB

In [12]:
# TRANSFORMING DATA TYPES OF COLUMNS 
list1=[]
for i in data.columns:
    if data[i].dtype=="float64":
        list1.append(i)
for i in list1:
    data[i]=data[i].astype('int64')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111236 entries, 8676 to 40704
Data columns (total 21 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   JoiningFeeCount          111236 non-null  int64
 1   AppLaunchCount           111236 non-null  int64
 2   DaysSpent                111236 non-null  int64
 3   PayTmLink                111236 non-null  int64
 4   PaidGamePlayedCount      111236 non-null  int64
 5   PaidGamePlayedAmount     111236 non-null  int64
 6   FantasyGameCount         111236 non-null  int64
 7   FantasyGameAmount        111236 non-null  int64
 8   PokerGameCount           111236 non-null  int64
 9   PokerGameAmount          111236 non-null  int64
 10  RummyGameCount           111236 non-null  int64
 11  RummyGameAmount          111236 non-null  int64
 12  CallBreakGameCount       111236 non-null  int64
 13  CallBreakGameAmount      111236 non-null  int64
 14  DepositCount             111236 non-null  int64
 15  DepositAmount            111236 non-null  int64
 16  RedeemCount              111236 non-null  int64
 17  RedeemAmount             111236 non-null  int64
 18  PaidGamePlayedWinRatio   111236 non-null  int64
 19  PaidGamePlayedLossRatio  111236 non-null  int64
 20  Result                   111236 non-null  int64
dtypes: int64(21)
memory usage: 18.7 MB

# PREPARING DATA FOR TRAINING THE MODEL

In [13]:
x=data.drop('Result',axis=1)
y=data['Result']

In [14]:
#DIVIDING THE DATA FOR TRAINING AND TESTING THE MODEL
X_train,X_test,Y_train,Y_test = train_test_split(x,y,train_size=0.75,random_state=31)

In [15]:
print("The Shape of Xtrain is ",X_train.shape)
print("The Shape of Xtest is ",X_test.shape)
print("The Shape of Ytrain is ",Y_train.shape)
print("The Shape of Ytest is ",Y_test.shape)

The Shape of Xtrain is  (83427, 20)
The Shape of Xtest is  (27809, 20)
The Shape of Ytrain is  (83427,)
The Shape of Ytest is  (27809,)

In [16]:
print("number of 0's and 1's in the Y_train")
Y_train.value_counts()

number of 0's and 1's in the Y_train

0    41726
1    41701
Name: Result, dtype: int64

In [17]:
print("number of 0's and 1's in the Y_test")
Y_test.value_counts()

number of 0's and 1's in the Y_test

1    13917
0    13892
Name: Result, dtype: int64

In [18]:
#SCALING THE VALUES IN A PARTICULAR RANGE : STANDARDISATION
SS=StandardScaler()
X_train=SS.fit_transform(X_train)
X_test=SS.fit_transform(X_test)

# MODEL TRAINING BY LOGISTIC REGRESSION

In [20]:

# Necessary imports
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
 
# Creating the hyperparameter grid
c_space = np.logspace(-5, 8, 15)
param_grid = {'C': c_space}
 
# Instantiating logistic regression classifier
logreg = LogisticRegression()
 
# Instantiating the GridSearchCV object
logreg_cv = GridSearchCV(logreg, param_grid, cv = 5)
 
logreg_cv.fit(X_train, Y_train)
 
# Print the tuned parameters and score
print("Tuned Logistic Regression Parameters: {}".format(logreg_cv.best_params_))
print("Best score is {}".format(logreg_cv.best_score_))

Tuned Logistic Regression Parameters: {'C': 100000000.0}
Best score is 0.7868436162149

In [ ]:
#TRAINING THE MODEL 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,recall_score,precision_score,r2_score
from sklearn.ensemble import RandomForestClassifier
Logreg = LogisticRegression()
Logreg.fit(X_train,Y_train)
Y_pred = Logreg.predict(X_test)
RFC=accuracy_score(Y_test,Y_pred)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,Y_pred)
TP = cm[0,0]
TN = cm[0,1]
FP = cm[1,0]
FN = cm[1,1]
print("LOGISTIC REGRESSION")
print('TP:',TP ,'\nTN:',TN,'\nFP:',FP,'\nFN:', FN)
print('Presicion Score is: ',precision_score(Y_test,Y_pred))
print('Recall score is:',recall_score(Y_test,Y_pred))
print('Accuaracy Score is:',accuracy_score(Y_test,Y_pred))

# MODEL TRAINING BY RANDOM FOREST CLASSIFIER

In [ ]:
#TRAINING THE MODEL 
from sklearn.metrics import accuracy_score,recall_score,precision_score,r2_score
from sklearn.ensemble import RandomForestClassifier
Logreg = RandomForestClassifier()
Logreg.fit(X_train,Y_train)
Y_pred = Logreg.predict(X_test)
RFC=accuracy_score(Y_test,Y_pred)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,Y_pred)
TP = cm[0,0]
TN = cm[0,1]
FP = cm[1,0]
FN = cm[1,1]
print("RANDOM FOREST CLASSIFIER ")
print('TP:',TP ,'\nTN:',TN,'\nFP:',FP,'\nFN:', FN)
print('Presicion Score is: ',precision_score(Y_test,Y_pred))
print('Recall score is:',recall_score(Y_test,Y_pred))
print('Accuaracy Score is:',accuracy_score(Y_test,Y_pred))